@import url(https://db.onlinewebfonts.com/c/774a72961dd69f90a772237432b1623e?family=Averta-Semibold);
@import url(https://db.onlinewebfonts.com/c/774a72961dd69f90a772237432b1623e?family=Averta-Regular);
* {
    box-sizing: border-box;
}

html {
    font-size: 12.6px
}

:root {
    --unit-height: 12.3px
}

body {
    width: 100vw;
    height: 100vh;
    background: url(resources/body-bg.svg) no-repeat;
    background-size: 100vw 100vh;
    padding: 2.42rem 2.42rem 4.5rem 2.42rem;
    /* overflow: auto; */
}

.container {
    /* background: url(resources/.container-bg.svg) no-repeat; */
    background: #F8F9FC;
    margin: 0;
    max-height: 100%;
    /* padding-left: 32px; */
    /* padding: 2.42rem 2.42rem 4.5rem 2.42rem; */
    /* background: url("resources/.container-bg.svg") no-repeat;
    background-size: 100vw 100vh; */
    display: grid;
    grid-template-columns: 214fr 661fr 350fr;
    grid-template-rows: 120fr 1230fr;
    grid-template-areas: 'nav header header' 'nav main aside';
    gap: 2.6rem;
    border-radius: 23.065px;
    /* overflow: hidden; */
}

#navbar {
    grid-area: nav;
    background: #fff;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    border-radius: 23.065px 0 0 23.065px;
}


/* Header */

header#header {
    /* display: flex; */
    position: sticky;
    background: #F8F9FC;
    top: 0;
    justify-content: space-between;
    padding-top: 0.625rem;
    grid-area: header;
    z-index: 99999;
}

#header .title-section h1 {
    padding-top: 0.2125rem;
    padding-bottom: 0.1rem;
    margin-bottom: 0;
    color: #15192C;
    font-family: Averta-Semibold;
    font-size: 28.155px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.563px;
}

#header .title-section p {
    margin: 0;
    color: #92959E;
    font-family: Averta-Regular;
    font-size: 0.7918rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#header .date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    /* margin: auto 0; */
}

#header .date {}

#header .date p {
    padding: 0 1rem;
    border: none;
    color: #15192C;
    font-family: Averta-Semibold;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#header .date-selector {
    cursor: pointer;
}


/* Navigation */

.nav-header {
    width: 49%;
    margin: 2.41rem auto 6.875rem auto;
}

.nav-header div {
    float: left;
}

.nav-header .nav-name {
    padding-left: 0.3rem;
}

.nav-header p {
    margin-top: 0.5rem;
    color: #551FFF;
    text-align: center;
    font-family: "Averta-Semibold";
    font-size: 16.893px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.338px;
}

.side-link.profile {
    clear: both;
}

.side-link {
    display: flex;
    justify-content: center;
    margin: 1.1rem auto;
    text-decoration: none;
    width: 73%;
    padding: 1.1rem 0 1.05rem 0.2rem;
    text-align: center;
    border-radius: 4.4rem;
    background: #FFF;
    font-family: "Averta-Regular";
    font-size: 0.88rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.282px;
}

.side-link a {
    flex: 2;
    text-decoration: none;
    color: #D0D2DA;
    text-align: left;
    cursor: pointer;
}

.side-link a:hover {
    color: #551FFF;
}

.side-link div {
    flex: 1;
    width: 1rem;
    height: auto;
}

.side-link img {
    vertical-align: middle;
    padding-left: 12px;
}

.side-link:hover {
    background: #F3F0FF;
}

hr.nav-separator {
    width: 65%;
    background: #ECECEE;
    border-width: 0.76px;
    opacity: 0.2;
}


/* Contennt */

#content {
    grid-area: main;
    /* border: 1px solid steelblue; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#content .top-numbers {
    z-index: 1;
    flex: 55;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 0.3rem;
    /* flex-wrap: wrap; */
    width: 100%;
    border-radius: 14.078px;
    background: #FFF;
    box-shadow: 0px 12.66981px 22.52411px 0px rgba(208, 210, 218, 0.15);
}

#content .stats-card {
    flex: 1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5%;
    display: inline-flex;
    gap: 0.5rem;
}

.stats-card .paper {
    background: #FFF2E9;
}

.stats-card .swap {
    background: #EDE8FF;
}

.stats-card .profile {
    background: #EAF9FF;
}

.stats-card .graph-card {
    background: #FFEBEF;
}

.stats-card p:nth-child(1) {
    padding-bottom: 0rem;
    margin-top: 0rem;
    color: #92959E;
    font-family: AvertaStd-Bold;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.stats-card p:nth-child(2) {
    margin-top: 1rem;
    color: #15192C;
    font-family: Averta-Regular;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}

.stats-card div:nth-child(1) {
    border-radius: 11.2px;
    padding: 1rem;
    /* background: #FFF2E9; */
    opacity: 0.65;
    line-height: 0;
    font-size: 0;
}

.stats-card img {
    vertical-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

#content .graph {
    flex: 316;
}

#content .graph img {
    width: 100%;
    height: auto;
}

.content-section-3 {
    display: none;
    /* position: relative; */
    /* position: fixed; */
    /* bottom: 1%; */
    width: 100%;
    /* height: 300px; */
}

.content-section-3>div {
    position: fixed;
    bottom: -10%;
    width: 49%;
}

.stats-graph-section {
    display: flex;
    gap: 1.56rem;
}

.stats-graph-section .stat-graph {
    flex: 1;
    border-radius: 1.05rem;
    background: #FFF;
    padding: 1.76rem;
    width: 10%
    /* height: 150px; */
}

.stat-graph-header p {
    margin-top: 0.1rem;
    color: #D0D2DA;
}

.stat-graph-header h2 {
    margin-bottom: 0;
}

.stat-graph-body {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0rem;
    gap: 1rem;
}

.stat-graph-body div {
    padding: 0;
}

.stat-graph-body img {
    width: 80%;
}

.stat-graph-body ul {
    padding-left: 1em;
}

.stat-graph-body li {
    list-style: none;
    padding-bottom: 1rem;
    color: #15192C;
    font-family: Averta-Regular;
    font-size: 9.854px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.stat-graph-body li span {
    display: block;
}

.stat-graph-body li:nth-of-type(3) {
    padding-bottom: 0;
}

.stat-graph-body li::before {
    content: "\2022";
    color: #FD2254;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


/* ASIDE */

#aside {
    grid-area: aside;
    /* padding-top: 1rem; */
    margin-right: 0;
    padding-right: 2rem;
    overflow: auto;
    max-height: 100%;
}

.side-section {
    padding-top: 1rem;
    padding-left: 8.3%;
    padding-right: 8.3%;
    background: #FFF;
    border-radius: 23.065px;
    max-height: 85%;
    overflow: auto;
    margin-bottom: 7%;
}

.side-section .header {
    display: flex;
    position: sticky;
    background: white;
    top: -1rem;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100000;
}

.card-h2-title {
    color: #15192C;
    font-family: Averta-Semibold;
    font-size: 1.05rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.338px;
}

.section-card {
    color: #15192C;
    opacity: 0.5;
    display: flex;
    gap: 0.95rem;
    align-items: flex-start;
    padding-right: 2rem;
}

.section-card:hover {
    opacity: 1;
}

.section-card h3 {
    font-family: Averta-Regular;
    font-size: 0.79rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-desc-p {
    font-family: Averta-Regular;
    font-size: 0.61rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section-card img {
    padding-top: 1rem;
    width: 16%;
    height: auto;
}

hr.cards-searator {
    background: #ECECEE;
    width: 84%;
    height: 0.044rem;
    border: none;
}

.section-card .card-desc {}

@media(max-width:1045px) {
    body {
        background-size: auto 100vh;
    }
    #content .top-numbers {
        flex-wrap: wrap;
    }
    .side-link div {
        display: none;
    }
    .side-link a {
        text-align: center;
    }
}

@media(max-width:768px) {
    .container {
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 1fr;
        grid-template-areas: 'header' 'main' 'aside';
        grid-template-rows: 1fr 1fr 1fr; */
        height: auto;
        max-height: fit-content;
        /* overflow: scroll; */
        background: none;
    }
    header#header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1.625rem;
    }
    .title-section {
        margin: auto;
    }
    .title-section h1 {
        text-align: center;
    }
    .title-section p {
        text-align: center;
    }
    #header .date {
        padding: 1rem;
    }
    nav {
        display: none;
    }
    #aside {
        padding-right: 0;
        height: 600px;
    }
    /* section.graph {
        z-index: 1;
        display: none;
    } */
    /* .top-numbers {
        display: none;
    } */
    #aside:active {
        position: relative;
        max-height: 80vh;
        top: -20rem;
        z-index: 100;
    }
}